apiVersion: apps/v1
kind: Deployment
metadata:
  name: devops-dashboard
  labels:
    app: devops-dashboard
spec:
  replicas: 2
  selector:
    matchLabels:
      app: devops-dashboard
  template:
    metadata:
      labels:
        app: devops-dashboard
    spec:
      containers:
      - name: dashboard
        image: localhost/devops-dashboard:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 5000
        env:
        - name: PORT
          value: "5000"
        livenessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 10
          periodSeconds: 5
        readinessProbe:
          httpGet:
            path: /health
            port: 5000
          initialDelaySeconds: 5
          periodSeconds: 3
---
apiVersion: v1
kind: Service
metadata:
  name: devops-dashboard
spec:
  type: NodePort
  selector:
    app: devops-dashboard
  ports:
  - port: 5000
    targetPort: 5000
    nodePort: 30080