service:
  type: NodePort
  nodePort: 30091

persistence:
  enabled: false

adminPassword: admin

datasources:
  datasources.yaml:
    apiVersion: 1
    datasources:
    - name: Prometheus
      type: prometheus
      url: http://prometheus-server
      isDefault: true
      access: proxy